div {
    width: 100px;
    height: 100px;
    border: 1px solid palevioletred;
    border-radius: 100px;
    display: inline-block;
    margin: 10px;
}




img {
    width: 3150px;
    border: 10px solid crimson;
    padding: 10px;




